*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Shared styles */
}
.opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h1{
    font-size: 45px;
    font-weight: 900;
}

.color-orrange{
    color: #fd6e0a;
}

.btn{
background-color: #fd6e0a;
border: none;
padding: 18px 35px;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
color: white;
cursor: pointer;
}






/* main style */
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3 ;
    background-repeat: no-repeat;
    background-position:  top left, bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
   gap: 51px;
    list-style: none;
    align-items: center;
   
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.hero{
    /* border: 1px solid red; */
    
    margin: 47px 38px 0px 230px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    max-width: 1332px;
}

.hero-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}

.hero-content{
    max-width: 585px;
}

.hero .hero-image img{
    max-width: 585px;
    vertical-align: middle;
}

